@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#f4f4f4 url(../images/background.jpg); }
html { padding:0; margin:0; }
/* main */
.main { width:100%; padding:0; margin:0 auto; }
.resize { width:966px; margin:0 auto; }
/********** header **********/
.header { }
.block_header { margin:0 auto; width:966px; }
/* logo */
.logo { float:left; padding:0; margin:22px 0 11px 0; height:70px;width:auto; }
/*Head*/
.LabName { font: normal 38px Georgia, "Times New Roman", Times, serif; color:#5ddcba; padding:auto 30px; margin:30px 10px 0 10px; width:auto; float:left; }


/* menu */	
.menu { padding:0; margin:0; width:auto; height:auto; background:#fff}
.menu ul { padding:0;  list-style:none; border:0; float: right; }
.menu ul li { float:left; margin:0; padding:0; border-right:1px  dotted #eee; border-left:1px  dotted #eee; }
.menu ul li a { float:left; margin:0 1px 0 0; padding:10px 20px; color:#686868; font:13px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif; font-weight:600; text-decoration:none; }
.menu ul li a:hover { background: #e1472f left repeat-x; color:#fff;}
.menu ul li a.active { background: #e1472f left repeat-x; color:#fff; }
.menu ul li a.active span {border-bottom: 1px dotted #fff; padding-bottom: 2px;}
.menu ul li a:hover span {border-bottom: 1px dotted #fff; padding-bottom: 2px;}


.menu1 { padding:0; margin:0; width:auto; height:auto; background:#fff}
.menu1 ul,li{padding:0; margin:0;}
.menu1 ul,li {list-style-type:none; text-transform:capitalize;}
#nav { display:block;float:right; }
#nav .jquery_out {float:left;line-height:32px;display:block; border-right:1px solid #fff; text-align:center; font:13px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif; font-weight:600;}
#nav .jquery_out .smile {padding-left:3em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel { float:left;}
#nav .mainlevel a {color:#686868; text-decoration:none; line-height:32px; display:block; padding:0 15px; font-weight:600;}
#nav .mainlevel a:hover {background: #5ddcba left repeat-x; color:#fff; text-decoration:none;}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff;background:#e4d1f8;}



/********** slider **********/
.slider { margin:10px auto; padding:0; height:auto; width:966px;}
.slider .flyEvrmt {margin:0 auto; padding:0; width:966px; height:auto; background:#fff;}
/*simple text*/
.simple { width:966px; margin:0 auto; padding:0; }
.simple .text { font:normal 12px Arial, Helvetica, sans-serif; color:#858585; width:200px; float: right; margin:10px 0; padding:0; }
.slider div.slice1 { margin:0 auto; width:966px; padding:0; }
.slider div.slice1 div.slice2 { margin:0 auto; padding:1px; }
/*
.slider div div div { margin:0 auto; padding:0; width:966px; height:348px; background:#fff; }
.slider div div div h2 { width:302px; float:left; font:normal 40px Georgia, "Times New Roman", Times, serif; color:#1c1d1c; padding:30px 0 0 40px; margin:0; line-height:1.2em; }
.slider div div div p { width:340px; float:left; font:normal 11px Georgia, "Times New Roman", Times, serif; color:#262626; margin:0; padding:10px 0 0 30px; line-height:1.8em; }
.slider div div div p.img { width:530px; float:right; padding:45px 0 0 0; margin:0; }

*/
/********** block index **********/
.body { padding:0; margin:0;}
.body h2 { font:normal 24px Georgia, "Times New Roman", Times, serif; color:#373737; padding:10px 5px; margin:0; }
.body h3 { font:normal 18px Georgia, "Times New Roman", Times, serif; color:#373737; padding:10px 5px;  margin:0;}
.body h4 { font:normal 16px Georgia, "Times New Roman", Times, serif; color:#373737; line-height:1.8em; padding:5px; margin:0; }
.body a { font:normal 14px Georgia, "Times New Roman", Times, serif; color:#2e597b; text-decoration:none; }
.body p { font:normal 14px Georgia, "Times New Roman", Times, serif; color:#666; line-height:1.8em; padding:5px; margin:0; }
.body strong { color:#656565; }
.body span { font:bold 14px Georgia, "Times New Roman", Times, serif; color:#baa271; }
.body em { font:italic 14px Georgia, "Times New Roman", Times, serif; color:#8d8d8d; line-height:1.8em; padding:10px 0 0 10px; }
.body_resize { width:966px; margin:0 auto; padding:0px 0px 20px 0px; background:#eee; border-bottom:1px solid #bbb; }

.bg { clear:both; border-top:1px solid #ddd; padding:0; margin:1px 0; background:none; }

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/********************topi***************/
.topi { width:966px; margin:10px auto; padding:0 0 0 0px; border-bottom:1px solid #e8e5dc; }
.topi .blogi { width:305px;height:250px; margin:5px 0px; padding:0 5px; float:left; background:#fff; }
.topi h2 { border:0; font:normal 26px Georgia, "Times New Roman", Times, serif; color:#1c1c1c; padding:18px 0 18px 70px; margin:10px 0 0 0; }
.topi p { font:normal 12px Georgia, "Times New Roman", Times, serif; color:#646464; padding: 5px 10px; margin:0; line-height:1.8em; }
.topi a { text-decoration:underline; font:normal 12px Georgia, "Times New Roman", Times, serif; color:#35678f; }


.body a.pdf {background:url(../images/pdf.png) left no-repeat;padding-left:18px;font-size:14px;text-decoration:underline;}
.body a.zip {background:url(../images/zip.png) left no-repeat;padding-left:18px;font-size:14px;text-decoration:underline;}
.body a.youku {background:url(../images/youku.ico) left no-repeat;padding-left:18px;font-size:14px;text-decoration:underline;}
.body a.youtube {background:url(../images/youtube.png) left no-repeat;padding-left:18px;font-size:14px;text-decoration:underline;}
.body a.mail{background:url(../images/mail.png) left no-repeat;padding-left:20px;font-size:14px;text-decoration:underline;}
.body a.det {background:url(../images/Sub_ul_li.png) left no-repeat;padding-left:18px;font-size:14px;text-decoration:underline;}




/*******************VideoDemo_home*****************/
.VideoDemo_home { width:470px; margin:5px 0px; float:right; padding:5px 0px; }
.VideoDemo_home .serv { width:250px; float:left; margin:5px 2px; padding:0; }
.VideoDemo_home .serv img { margin:10px 5px; float:left; padding:0; }


/*News_home */
.News_home { width:450px; float: left; margin:5px 0px; padding:5px 0px; }
.News_home a:hover { color:#2e5a7c; text-decoration:underline; }
.body_resize div .news { background:#fff;  float: left; margin:10px 0px; padding:5px 10px; border:1px solid #ddd}
.News_home .news{width:420px;}

/*******************VideoDemo_home*****************/
.VideoDemo_video { width:740px; margin:5px 5px; float:right; padding:5px 5px; }
.VideoDemo_video .serv { width:700px; float:left; margin:5px 2px; padding:0; }
.VideoDemo_video .serv img { margin:10px 5px; float:left; padding:0; }
.VideoDemo_video .news { background:#fff;  float: right; margin:10px 0px 10px 5px; padding:5px 10px; border:1px solid #ddd;width:720px;}
/*******************Content*****************/
.Content { width:750px; margin:5px 10px; float:left; padding:5px 10px; }
.Content div{float:left; width:700px;}
.Content ul { width:300px; float: left; margin:5px 3px; padding:0; list-style:none; }
.Content li { background:url(../images/ul_li.gif) left no-repeat; padding:5px 20px; margin:0; font: normal 12px Georgia, "Times New Roman", Times, serif; color:#5c5c5c; }
.Content .serv { width:300px; background:#fff;  float: left; margin:5px 12px; padding:5px 12px; border:1px solid #ddd }
.Content .serv img { margin:10px 5px; float:left; padding:0; }
.Content .serv .bg { width:280px;}


.Content .servPapers { width:750px; background:#fff;  float: left; margin:0px 10px; padding:10px 10px; border:1px solid #ddd } 
.Content .servPapers .paperInd {margin:5px 5px; padding:5px 5px;}
.Content .servPapers img { margin:15px 5px; float:left; padding:0px 5px ; }
.Content .servPapers p{ margin:2px 5px; padding:2px 5px; }
.Content .servPapers .bg {margin:18px 5px 0px 5px; padding:5px 5px 2px 10px; width:720px;}
.Content .servPapers p a{color:#007482;text-decoration:underline;font-weight:600;}
.Content .servPapers a:hover{color:#e1472f;text-decoration:underline;}


/*******************Content*****************/
.ContentPeo { width:745px; margin:5px 5px; float:left; padding:5px 5px; }
.ContentPeo .ind{float:left; width:766px;}
.ContentPeo ul { width:250px; float: left; margin:3px 5px; padding:0; list-style:none; }
.ContentPeo li { padding:4px 5px; margin:0; font: normal 12px Georgia, "Times New Roman", sans-serif, serif; color:#5c5c5c; }
.ContentPeo .serv { width:350px;height:auto; background:#fff;  float: left; margin:8px 10px; padding:8px 5px; border:1px solid #ddd }
.ContentPeo .serv img { margin:18px 5px; float:left; padding:0; }
.ContentPeo .serv a:hover h2{color:#e1472f;text-decoration:underline;}
.ContentPeo .serv a h2{color:#5c5c5c;}
.ContentPeo div span{ font-family:"Arial", "SimSun", "ו"; color:#5c5c5c; font-size:14px;}
.ContentPeo .indFor{float:left; width:766px;}
.ContentPeo .indFor .serv1 { width:730px;height:auto; background:#fff;  float: left; margin:8px 10px; padding:8px 5px; border:1px solid #ddd }
.ContentPeo .indFor .bg {margin:10px 5px;}
.ContentPeo .indFor p{padding:5px 25px;}
.ContentPeo .indFor ul{ width:700px; float: left; padding:0px 15px; }
.ContentPeo .indFor li{ width:200px;float: left;}
.ContentPeo .indFor .ForCol {color:#333;}


/*Index */
.Index { width:160px; float: left; margin:5px 0px; padding:5px 0px; background:#eee;}
.Index ul { list-style:none; margin:0px 5px; padding:0px 5px; }
.Index li { background:url(../images/Sub_ul_li.png) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px dotted #fff; text-align:center}
.Index ul li a { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.Index ul li a:hover { color:#2e5a7c; text-decoration:underline; }


/*Index */
.Index_l { width:200px; float: left; margin:5px 0px; padding:5px 0px; background:#eee;}
.Index_l ul { list-style:none; margin:0px 5px; padding:0px 5px; }
.Index_l li { background:url(../images/Sub_ul_li.png) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px dotted #fff;}
.Index_l ul li a { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.Index_l ul li a:hover { color:#2e5a7c; text-decoration:underline; }


/*******************Welcome*****************/
.Welcome { width:555px; margin:5px 5px 5px 5px; float:right; padding:5px 15px; background:#fff; border:1px solid #ddd}
.Welcome ul { width:250px; float: left; margin:5px 3px; padding:0; list-style:none; }
.Welcome li { background:url(../images/ul_li.gif) left no-repeat; padding:5px 20px; margin:0; font: normal 12px Georgia, "Times New Roman", Times, serif; color:#5c5c5c; }
.Welcome .serv { width:250px; float:left; margin:5px 2px; padding:0; }
.Welcome .serv img { margin:10px 5px; float:left; padding:0; }


/*News */
.News { width:325px; float: left; margin:5px 10px 5px 0px; padding:15px 15px; background:#fff; border:1px solid #ddd}
.News ul { list-style:none; margin:0; padding:0; }
.News li { background:url(../images/Sub_ul_li.png) left no-repeat; padding:5px 30px; margin:0; border-bottom:1px solid #eaeaea; text-align:center}
.News ul li a { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.News ul li a:hover { color:#2e5a7c; text-decoration:underline; }



/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#222222; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:5px 0; font:bold 12px Georgia, "Times New Roman", Times, serif; color:#656565; text-transform:capitalize; }
#contactform label span { font:normal 12px Arial, Helvetica, sans-serif; }
#contactform input.text { width:790px; border:1px solid #dcdcdc; margin:5px 0; padding:5px 2px; height:16px; background:#f5f5f5; }
#contactform textarea { width:790px; border:1px solid #dcdcdc; margin:10px 0; padding:2px; background:#f5f5f5; }
#contactform li.buttons input { padding:3px 0; margin:0; border:0; color:#FFF; }
p.response { text-align:center; color:#2c2c2c; font: bold 12px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto; }

/********** footer **********/
.footer { padding:10px 0; margin:0 auto; }
.footer .resize p.footer_logo { float:left; padding:0; margin:0 5px; }
.footer .resize div { width:966px; color:#0072bc; font:normal 12px Tahoma, Geneva, sans-serif; text-align:left; margin:0 auto; }
.footer .resize div p { padding:0; margin:0; float:right; }
.footer .resize div img { margin:0; padding:0; }
.footer .resize div a { color:#0072bc; font:normal 12px Tahoma, Geneva, sans-serif; padding:0 1px; }
.text_left { text-align:right; }
p.clr,
.clr { clear:both; padding:0; margin:0; background:none; }
li.bg,




body{ font-family:Arial, Helvetica, Sans-Serif; font-size:0.85em; color:#000; }
.desc { color:#6b6b6b; }
.desc a { color:#0092dd; }
.dropdown {margin-bottom:0px;margin-left:auto;}
.dropdown dd, .dropdown dt, .dropdown ul { margin:auto; padding:auto; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#fff; text-decoration:none; outline:none; }
.dropdown a:hover { color:#fa735e; }
.dropdown dt a:hover { color:#5ddcba; border: 1px solid #d0c9af; }
.dropdown dt a { background:#fff url(../images/arrow.png) no-repeat scroll right center; display:block; padding-right:20px; border:1px solid #fff; width:50px; }
.dropdown dt a span { cursor:pointer; display:block; padding:5px; }
.dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #fff; color:#fff; display:none; left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:70px; list-style:none; }
.dropdown span.value { display:none; }
.dropdown dd ul li a { padding:5px; display:block; }
.dropdown dd ul li a:hover { background-color:#cba; }
.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.dropdown img{width:45px;height:45px}


.infoFb a{color:#5ddcba;text-decoration:none;}


.body_resize1 { width:966px; margin:0 auto; padding:0px 0px 20px 0px; border-bottom:1px solid #bbb; }

.IndexC { width:100px; float: left; margin:0px 0px; padding:0px 0px;}
.IndexC ul { list-style:none; margin:0px 0px; padding:0px 0px; }
.IndexC li { padding:5px 0px; margin:0; border-bottom:1px dotted #fff; text-align:left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.IndexC ul li a { font: normal 13px Georgia, "Times New Roman", Times, serif; color:#3a3c3c; text-decoration:none; }
.IndexC ul li a:hover { color:#2e5a7c; text-decoration:underline; }


.ContentRec { width:840px; margin:5px 5px 5px 5px; float:right; padding:5px 5px 5px 5px; }
.ContentRec .serv { width:830px; background:#fff;  float: left; margin:5px 5px; padding:5px 5px; border:1px solid #ddd }
.ContentRec .serv img { margin:10px 20px 15px 20px; float:left; padding:0; }
.ContentRec .bg {width:820px;}

.ContentRec .serv p a{color:#007482;text-decoration:underline;font-weight:600;}
.ContentRec .serv a:hover {color:#e1472f;text-decoration:none;}
.ContentRec .serv .videos {margin:0px 15px 15px 15px;}
.ContentRec .serv p {margin-right:15px;margin-left:5px;}

.ContentRec .serv a:hover h2{color:#e1472f;text-decoration:underline;}
.ContentRec .serv a h2{color:#000;margin-left:5px;font-size:19px;}



.ContentRec_l { width:735px; margin:5px 5px 5px 10px; float:right; padding:5px 5px 5px 5px; }
.ContentRec_l div{float:left; width:700px;}

.ContentRec_l .serv { width:730px; background:#fff;  float: left; margin:5px 5px; padding:5px 5px; border:1px solid #ddd }
.ContentRec_l .serv img { margin:0px 15px 8px 15px; float:left; padding:0; }
.ContentRec_l .bg {margin:5px 10px; padding:5px 5px; width:700px;}

.ContentRec_l .serv p a{color:#007482;text-decoration:underline;font-weight:600;}
.ContentRec_l .serv a:hover {color:#e1472f;text-decoration:none;}
.ContentRec_l .serv .videos {margin:0px 20px 15px 40px;}
.ContentRec_l .serv p {margin-right:5px;margin-left:5px;}


/* PROGRESS */
.progress {
	background-color: #e5e9eb;
	height: 25px;
	position: relative;
	width: 24em;
}
.progress-bar {
	animation-duration: 3s;
	animation-name: IOS7A;
	background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
	background-size: 500px 25px;
	height: 100%;
	position: relative;
}

/* ANIMATIONS */
@keyframes IOS7A {
       0%, 100% {
       transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
       width: 0;
  }
   100% {
      width: 100%;
  }
}

@keyframes IOS7B {
       0%, 100% {
       transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
       width: 0;
  }
   100% {
      width: 100%;
  }
}